<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中介主页</title>
    <h1>Second Hand House</h1>
</head>
<body style="font-size:20px; font-weight:bold; margin-top:60px; background-color:#97CBFF; text-align:center;">
<span>Hello,{{dict.name}}</span>
<br><br>
    <a href="/deal">创建交易</a><br><br>
    <a href="/reserve">预约看房</a><br><br>
    <a href="/show_all_deal">查看我的所有交易</a><br><br>
    <a href="/show_all_reserve">查看我的所有预约</a><br><br>
    <a href="/logout">退出</a>
</body>
</html>