<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加房子</title>
    <h1>Second Hand House</h1>
</head>
<body style="font-size:20px; font-weight:bold; margin-top:60px; background-color:#97CBFF; text-align:center;">
<form action="/add_house" method="post">
    <p>房屋名<input type="text" name="name" style="height:1.6em;"></p>
    <p>省份  <input type="text" name="province" style="height:1.6em;"></p>
    <p>城市  <input type="text" name="city" style="height:1.6em;"></p>
    <p>县/区 <input type="text" name="area" style="height:1.6em;"></p>
    <p>具体地址<input type="text" name="address" style="height:1.6em;"></p>
    <p>面积  <input type="number" name="acreage" style="height:1.6em;"></p>
    <p>价格  <input type="number" name="prices" style="height:1.6em;"></p>
    <p><button type="submit" style="width:5em; height:2em; background-color:#FFC1E0; font-weight:bold;">添加</button></p>
</form>
</body>
</html>
