<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登入页面</title>
    <h1>Second Hand House</h1>
</head>
<body style="font-size:20px; font-weight:bold; margin-top:60px; background-color:#97CBFF; text-align:center;">
<form action="/login_user" method="post">
    <p>账号<input type="text" name="account" style="height:1.6em;"></p>
    <p>密码<input type="password" name="password" style="height:1.6em;"></p>
    <p><button type="submit" style="width:5em; height:2em; background-color:#FFC1E0; font-weight:bold;">登入</button></p>
</form>
<form action="/regist_user" method="get" >
    <p><button type="submit" style="width:5em; height:2em; background-color:#FFC1E0; font-weight:bold;">注册</button></p>
</form>
</body>
</html>

