<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建看房预约</title>
    <h1>Second Hand House</h1>
</head>
<body style="font-size:20px; font-weight:bold; margin-top:60px; background-color:#97CBFF; text-align:center;">
<form action="/reserve" method="post">
    <p>看房用户<input type="text" required="required" name="reserve_user" style="height:1.6em;"></p>
    <p>房子名  <input type="text" required="required" name="house_name" style="height:1.6em;"></p>
    <p>日期    <input type="date" name="date" style="height:1.6em;"></p>
    <p><button type="submit" style="width:8em; height:2em; background-color:#FFC1E0; font-weight:bold;">创建预约</button></p>
</form>
</body>
</html>
